*{
    margin: 0;
    padding: 0;
}

.header{
    height: 130px;
    background: #000;
    position: relative;

    // hotline start
    .hot-line{
        display: flex;
        position: absolute;
        left: 150px;
        top: 0;

        .number{
            margin-right: 120px;
            p{
                font-size: 12px;
                color: #fff;
                span{
                    color: red;
                }
            }

        }

        .addres{
            p{
                font-size: 12px;
                color: #fff;
                span{
                    color: #1FB539;
                }
            }
        }

    }
    // hotline end, logo start
    .logo{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -32px);
        a{
            text-decoration: none;

            img{
                width: 350px;
                
            }
        }
    }
    // logo end
    

}
// header end, nav-top
.nav-top{
    position: sticky;
    top: 0;
    height: 50px;
    width: 100%;
    border-top: solid 2px #1FB539;
    background: #000;
    z-index: 9999;

    .menu{
        
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        ul{
            text-transform: capitalize;
            height: 100%;
            list-style: none;
            li{

                :hover{
                    background: #61CE70;
                    height: 100%;
                }

                a{
                    font-weight: 400;
                    font-size: 18px;
                    color: #fff;
                    text-decoration: none;
                }
                
            }
        }
    }

}  
// nav-top end




.carousel-item{
    border-top: solid 1px #fff;
    img{
        height: 420px;
    }
}

.carousel-indicators{
    li{
        background: rgba(81, 240, 102, 0.432);
        height: 15px;
        width: 15px;
        border-radius: 50%;
        box-sizing: border-box;
        border: none;
        
        &.active{
            background: rgba(134, 212, 143, 0.644);
        }

        &:hover{
            background: rgba(134, 212, 143, 0.644);
        }
    }
}
.carousel-control-next-icon{    
    position: absolute;
    right: 30px;
    
}
.carousel-control-prev-icon{
    position: absolute;
    left: 30px;
}
// hero-carousel end

.course{

    .course-header{
        text-align: center;
        height: 120px;
        justify-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            color: #54595f;
            text-transform: uppercase;
        }
        p{
            color: #54595f;
            font-weight: 500;
        }
    }
    // course-header end
    .all-course{
        background: #DFFCFC;
        height: 535px;
        display: flex;
        
        .single-course{
            width: 25%;
            background:#fff ;
            margin: 25px 15px;
            border: solid 1px #1FB539;
            position: relative;
            border-radius: 5px;
            text-align: center  ;
                &:hover{
                    box-shadow: 1px -1px 22px -2px rgba(0,0,0,0.75);
                    transition: 200ms;
            }
            img{
                height:300px ;
                width: 100%;
                border: solid 5px #fff;
                border-radius: 10px;
            }
            .fee-date{
                background: red;
                position: absolute;
                height: 33px;
                width: 170px;
                border-radius: 25px;
                right: 25px;
                top: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                    p{
                        color: #fff;
                        font-size: 13px;
                        margin: 0;
                }
            }
            h1{
                font-size:20px;
                margin-top: 25px;
            }
            p{
                color: #616161;
                margin-bottom: 50px;
            }
            a{
                background: #000;
                color: #fff;
                padding:10px 15px ;
                border-radius: 25px;
                text-decoration: none;
                margin-top: 50px;

                    &:hover{
                        background: #61CE70;
                }
            }
        }
    }

}
// course end

.facility{
    position: relative;
    display: flex ;
    flex-direction: column;
    align-items: center;

    .all-course{
        height: 40px;
        width: 190px;
        border: solid 1px #000;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        margin-top: 40px;
        a{
            text-align: center;
            text-decoration: none;
            color: #000;
            font-weight: 600;
        }
        
    }

    .intro{
        margin-top: 45px;
        
        h2{
            color: #54595f;
            text-transform: uppercase;
        }
    }

    .icon-s{
        display: flex;
        justify-content: center;
        margin: 100px 0;
        span{
            margin: 30px;
            box-sizing: border-box;
            height: 100px;
            width: 150px;
            text-align: center;
            i{
                font-size: 70px;
                color: #61CE70;
                align-items: center;
            }
            p{
                text-align: center;
                margin-top: 20px;
                font-size: 19px;
                font-weight: 500;
                color: #616161;
            }
        }
    }

}
